{{extend 'layout.html'}}
 <div class="front-divider"></div>
    <div class="front-overlay-message-wrap">
        <div class="front-overlay-message-container">
            <div class="front-overlay-message-content">
                <h1 class="front-overlay-message">WConnect Is An App <br /><br />That Helps <br /><br />Women Around The World <br /><br />Connect</h1><br />
                <h2 class="front-overlay-message-sub">You Tell Us Your Interests.<br /> We Help You <br />Connect With Others Of Similiar Interests.</h2>
                <a class="btn primary cta" href="{{=URL('user/register')}}">Start Connecting</a>
            </div>
        </div>
    </div>
