<!doctype html>
<!--[if lte IE 7]><html class="no-js ie7 oldie" lang=en><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang=en><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang=en><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang=en><!--<![endif]-->
<!-- Hey there web developers!  We're looking for some awesome people to work at an awesome company: http://www.stumbleupon.com/jobs
     Hell, you can even swing by for lunch if you like.  Email us: talent@stumbleupon.com
     Tell 'em Jennibar the Wonder Llama sent you ;) -->
<head>
    <link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
    <meta name="globalsign-domain-verification" content="T-NC6XWFbqVJuGtVEzs0cYAdat3fluE9GA9EQSp6UC"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script><title>Connect With More Women Around The Globe</title>
    <meta name="apple-itunes-app" content="app-id=386244833">
    <link rel="apple-touch-icon-precomposed" href="http://nb9.stumbleupon.netdna-cdn.com/qaJ2l2fQzftVTeOGNUns8Q" />
    <meta name="msvalidate.01" content="863F29F8D7A36F55D401548996FCA974" />
    <meta name="msApplication-ID" content="06DAC6F6.StumbleUpon"/>
    <meta name="msApplication-PackageFamilyName" content="StumbleUpon"/>
        <link rel="shortcut icon" href="{{=URL('static','css_template/text.png')}}" />

        <script type="text/javascript">
        var logAssetStart = (new Date()).getTime() * 1000;
        function logAssetError(e) {
            var referer = '',
                location = '',
                type = 'unknown',
                url = 'unknown',
                data = '',
                message = 'Asset loading error';
            try {
                referer = document.referer;
            } catch (err) {}
            try {
                location = document.location.href;
            } catch (err) {}
            try {
                type = e.type;
                url = (e.target.src || e.target.href);
                message = 'Error on '
                    + e.target.tagName + ' asset ' + url
                    + ' after ' + (e.timeStamp - logAssetStart) + 'µs'
                    ;
            } catch (err) {}
            dataobj = {
                type: type,
                message: message,
                url: url,
                location: location,
                referer: referer,
                linenumber: 'unknown',
                app: 'www',
                language: 'en_US'
            }
            for (i in dataobj)
                data += i + '=' + encodeURIComponent(dataobj[i]) + '&';
            try {
                var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/report/message", true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.send(data);
            } catch (err) {}
        }
    </script>
        
    
    
    <link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/ki31XLig5goujJ_7PqWUEQ" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"><link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/U2I8K68ahLNWSgc9w37pfA" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"><link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/KwQORU-p0jXe7IeCZ_gy_w" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"><link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/3xtxtaCvHwNoa3SUz6_SHg" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)">
    

<meta property="fb:app_id" content="267470608481" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <script type="text/javascript" src="http://nb9.stumbleupon.netdna-cdn.com/hm5kPJHXFV_shE8Uz78Fog" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"></script>
    <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_initData']);
                _gaq.push(['_setAccount', 'UA-16124905-1']); _gaq.push(['_setDomainName', '.stumbleupon.com']); _gaq.push(['_setCustomVar', 1, 'user_class', 'v', 1]); _gaq.push(['_trackPageview', '/classic-visitor']); (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
    
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Oswald::latin' ] },
        active: function() {
            window._typekitLoaded = {
                state: "loaded"
            }
        }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>

<script type="text/javascript">
  var _bdq = _bdq || [];
  _bdq.push(["setAccount", "i-04db847f0586db-ced87b18", "sa9cCtgHU9Xatk+9NJ56KtdC3zY"]);
  _bdq.push(["trackPageview"]);

  (function() {
    var bd = document.createElement("script"); bd.type = "text/javascript"; bd.async = true;
    bd.src = ("https:" == document.location.protocol ? "https://" : "http://") + "d2flrkr957qc5j.cloudfront.net/bitdeli.min.js";
    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(bd, s);
  })();
</script>
{{  

  response.files.append(URL('static','css/bootstrap.min.css'))
 
  }}
 {{include 'web2py_ajax.html'}}

</head>
    <body class="home-logged-out stretchy" style="background:#95B967;">
      <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-inner">
      <div class="container">
        

        <ul id="navbar" class="nav pull-right">
            <span style="position:relative;left:-800px;"><img src="{{=URL('static','css_template/text.png')}}" width="200px" height="70px"/></span>     <!--LOGO TO BE ADDED HERE -->
           {{='auth' in globals() and auth.navbar(mode="dropdown") or ''}} 
        </ul>
      
      </div>
    </div>
  </div>
           <div class="">
            {{block center}}
            {{include}}
            {{end}}
        </div>
   
            <div id="content" class="l-master-b wrapper-content">
                <div id="header-top" class="l-header-top">
            <div class="center-wrap">
                <a href="/home" class="logo-primary">StumbleUpon</a>
                <ul class="about-su">
                    <li class="nav-utility-item">
                        <a href="javascript:void(0);" class="nav-utility-link-primary" id="main-nav-corporate"></a>
                        
                    </li>
                </ul>
                
                    

            </div>
        </div>
                <div class="front-container">
 

</div>
<!--footer class="l-footer">
    <p class="l-footer-copyright"></p>
           
        </p>
        <p class="l-footer-links">
         
            
        </p>
        </footer-->


<!-- Crazy Egg -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/7273.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
    </div>
    <div class="rocket hidden">
        <span class="rocket-arrow"></span>
        <span class="rocket-text">Top</span>
    </div>
            
        
    <script type="text/javascript" src="http://nb9.stumbleupon.netdna-cdn.com/jWGgLEQ-kPkFtnnCAPSbkQ" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"></script><script type="text/javascript" src="http://nb9.stumbleupon.netdna-cdn.com/f36Y9cXo1D-km_7kjxEmLA" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"></script>
    
        <script type="text/javascript" src="http://nb9.stumbleupon.netdna-cdn.com/A4aGCYMouP0C364gkqlxaw" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"></script>
    
    
    
    <script type="text/javascript" src="http://nb9.stumbleupon.netdna-cdn.com/GpxW7L0b4BZ7lAHIQj4tnQ" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"></script>
    
    
            
    <script type="text/javascript">SU.initialize({"setStumbleToken":"14d5136265799d6faa7992bb00e0a5da","mStumbleButton":"","mModal":"","mLogout":{"_token":"8abc7bddf44befb1380670a3cbd2b509"},"mCaptcha":false,"gMasterInit":{"viewer":null},"pFlashMessage":[]});</script>
<div id="getsat-widget-1819"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">
if (typeof GSFN !== "undefined") { GSFN.loadWidget(1819,{"containerId":"getsat-widget-1819"}); }
</script>
<script type="text/javascript">
    var _comscore = _comscore || [];
    _comscore.push({ c1: '2', c2: '7677660' });
    (function() {
        var s = document.createElement('script'), el = document.getElementsByTagName('script')[0]; s.async = true;
        s.src = (document.location.protocol == 'https:' ? 'https://sb' : 'http://b') + '.scorecardresearch.com/beacon.js';
        el.parentNode.insertBefore(s, el);
    })();
</script>
<noscript>
    <img src="http://b.scorecardresearch.com/p?c1=2&c2=7677660&cv=2.0&cj=1">
</noscript>
<!-- Compete XL Code for stumbleupon.com -->
<script type="text/javascript">
__compete_code = 'ded5f366b027ace826a030b685d7ec36';
/* Set control variables below this line. */
</script>
<script type="text/javascript" src="//c.compete.com/bootstrap/s/ded5f366b027ace826a030b685d7ec36/stumbleupon-com/bootstrap.js"></script>
<noscript>
    <img width="1" height="1" src="https://ssl-stumbleupon-com-ded5f3.c-col.com"/>
</noscript>
<script type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-6.newrelic.com","a7d4357e77","919187","NAZbZkYEXUJQWkdRCg1MekdHEVxcHg==",3,278,new Date().getTime(),"","","","",""]);</script>
 <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
</body>
</html>
